@charset "utf-8";

/* CSS Document */


/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Nav
	3.3 Header Side
	3.4 Hamburger
4. Menu
	4.1 Menu Social
	4.2 Menu copyright
5. Home
7. Page Section
8. Buttons
9. Popular
10. Footer
	10.1 Newsletter
	10.2 Footer Content
	10.3 Footer Copyright


******************************/


/*********************************
instalaciones
*********************************/

.instalaciones {
    padding: 0;
}

.instalaciones-container {
    background-color: #179b00;
    color: #FFFFFF;
    border-top: 10px solid #1a1a1a;
}

.instalaciones-container .row {
    width: 100%;
    margin: auto;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.1);
}

.instalaciones-container .texto {
    padding: 35px;
}

.instalaciones-container ul {
    list-style: url(../images/Flecha.svg);
    margin: auto;
}

.instalaciones-container ul li {
    font-size: 14pt;
}

.instalaciones-container .texto .titulo {
    padding-bottom: 8px;
    padding-left: 0;
}

.instalaciones-container .texto p {
    color: #FFFFFF;
    margin-bottom: 25px;
}

.instalaciones-container .imagen {
    padding: 0;
}

.instalaciones-container .imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carrusel-imagenes {
    margin: auto;
}

.carrusel-imagenes .float-left {
    margin-left: 4.16%;
    margin-right: 4.16%;
}

.capturas-instalaciones {
    padding-bottom: 30px;
}

.capturas-instalaciones .titulo {
    padding-bottom: 80px;
    padding-top: 80px;
    color: #1a1a1a;
    text-align: center;
}

.instalacion {
    padding-bottom: 15px;
    text-align: center;
    color: #4d4e4e;
    font-style: italic;
    padding-top: 15px;
}

.temp-instalaciones .row {
    width: 100%;
    margin: auto;
}

.temp-instalaciones .fila {
    padding: 0%;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}


/*********************************
8. Buttons
*********************************/

.button {
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.button a {
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.button_1 {
    width: 202px;
    height: 48px;
}


/*********************************
9. Popular
*********************************/

.course_boxes {
    margin-top: 68px;
}

.course_box {
    margin-bottom: 108px;
}

.course_box:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.card {
    display: block;
    background: #f8f9fb;
    border: none;
}

.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-title {
    margin-top: 55px;
}

.card-title a {
    font-size: 22px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.2;
}

.card-title a:hover {
    color: #a5a5a5;
}

.card-text {
    font-size: 14px;
    font-weight: 500;
    color: #a5a5a5;
    margin-top: -12px;
}

.price_box {
    width: 100%;
    height: 67px;
    background: #eaebec;
    margin-top: 41px;
    padding-left: 35px;
}

.course_author_image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}

.course_author_name {
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    padding-left: 20px;
    margin-top: 7px;
}

.course_author_name span {
    color: #a5a5a5;
}

.course_price {
    width: 67px;
    height: 67px;
    background: #ffb606;
    margin-left: auto;
}

.course_price span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-top: 7px;
}


/*********************************
10. Footer
*********************************/

.footer {
    width: 100%;
    padding-top: 86px;
    background: #1a1a1a;
}

.footer .section_title h1 {
    color: #FFFFFF;
}


/*********************************
 Footer borde
*********************************/

.newsletter-normal {
    border-bottom: solid 2px #4d4e4e;
}


/*********************************
10.2 Footer Content
*********************************/

.footer_content {
    padding-top: 80px;
    padding-bottom: 83px;
    border-bottom: solid 2px #4d4e4e;
}

.footer_content .logo_container {
    padding-left: 0px;
}

.footer_content .logo span {
    color: #FFFFFF;
}

.footer_about_text {
    margin-top: 24px;
    margin-bottom: 0px;
    padding-right: 20px;
}

.footer_column_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 15px;
}

.footer_column_content {
    margin-top: 32px;
}

.footer_list_item {
    margin-bottom: 11px;
}

.footer_list_item a {
    font-size: 14px;
    color: #a5a5a5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_list_item a:hover {
    color: #ffb606;
}

.footer_contact_item {
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    margin-bottom: 22px;
}

.footer_contact_item:last-child {
    margin-bottom: 0px;
}

.footer_contact_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.footer_contact_icon img {
    width: 100%;
}


/*********************************
10.3 Footer Copyright
*********************************/

.footer_bar {
    padding-top: 19px;
    padding-bottom: 19px;
}

.footer_social .menu_social_item a i {
    color: #FFFFFF;
}

.footer_social .menu_social_item a i:hover {
    color: #ffb606;
}

.footer_social .menu_social_item:last-child {
    margin-right: 0px;
}


/* estilos de botón para regresar arriba */

.simplescrollup__button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: 1s all;
    z-index: 10000;
}

.simplescrollup__button--show {
    transform: translateX(350px);
}

.simplescrollup__button--hide {
    transform: translateX(500px);
}

.boton_arriba {
    width: 13%;
}